footer{
    width: 100%;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
}

.footer-logo{
    width: 15%;
    border: 1px solid transparent;
}

.first-div h2{
    margin-top: 30px;
}

.first-div p{
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: clamp(1vmin, 3vmax);
    margin-top: 30px;
}


.first-div{
    width: 30%;
    border: 1px solid transparent;
}


.second-div{
    width: 30%;
    border: 1px solid transparent;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.ft-ul{
    display: flex;
    flex-direction: column;
} 

.ft-ul li{
    color: #ffff;
    list-style:none;
    padding: 20px;
}


@media screen and (max-width:700px) {
    footer{
        display: flex;
        flex-direction: column;
    }

    .footer-logo{
        display: none;
        width: 10%;
    }

    .first-div{
        text-align: center;
    }

    .first-div,.second-div{
        margin: 1rem;
        width: 100%;
    }
    
}


