#login-wrapper{
    width: 100%;
    min-height: 100vh;
    background-image: url("/images/HIMS-sign-in-backround-img.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
}

.form-wrapper{
    width: 50%;
    min-height: 70%;
    padding: 20px;
    margin-top: 5rem;
    border: 1px solid #ffff;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
}

.form-wrapper>h3{
    color: #4c4d4f;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    margin-top: 2rem;
}

.form-data{
    width: 100%;
}

.form-data label{
    font-size: 16px;
    font-weight: 500;
    color: #8690a6;
    margin-left: auto;
    line-height: 16px;
    margin-bottom: 0.3rem;
}

.form-data input{
    color: #2b303b;
    width: 100%;
    padding: 12px 20px;
    font-weight: 400;
    border: 1px solid rgb(212 221 231 / 70%);
    border-radius: 6px 6px 6px 6px;
    background: rgb(212 221 231 / 20%);;
}

.sigin-with-google-and-create-account-wrapper{
    width: 100%;
    margin-top: 3rem;
    border: 1px solid transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-an-account>a{
    border: 1px solid transparent;
    color: #00A3E0;
}

.google-icon-box{
    width: 25px;
    border: 1px solid transparent;
}

.singin-with-google-wrapper{
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.singin-with-google-wrapper>p{
    color: #00A3E0;
    margin-left:10px;
}

.error-msg {
    background-color: lightpink;
    text-align: center;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
